.slider {
  .slider_wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    max-width: 1440px;
    justify-content: space-between;
    margin: 2em auto;
    min-height: 3em;
    gap: 30px;

    .slider_items {
      flex-shrink: 0;
      display: flex;
      justify-content: space-around;
      min-width: 100%;
      animation: scroll 30s linear infinite;
      padding: 0;
      align-items: center;
      list-style: none;
      gap: 30px;
      
      .slide {
        width: 150px;
        height: 60px;
        display: flex;
        align-items: center;
      }
      .slider_img {
        filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(309deg)
          brightness(93%) contrast(107%);
        width: 100%;
        height: auto;
      }
    }
  }
}
.sceleton {
  .slide {
    position: relative;
    background: #eee;
    color: #eee;
    border-radius: 5px;
  }
  .slide:before {
    content: '';
    position: absolute;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.9),
      transparent
    );
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    animation: loading 1.2s infinite;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loading {
  0% {
    transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    transform: skewX(-10deg) translateX(200%);
  }
}
