.cta {
  .cta_wrapper {
    max-width: 1440px;
    padding: 2em 0.5rem;
    min-height: 3em;
    margin: 0 auto;
    min-height: 3em;

    .cta_content {
      display: flex;
      margin: 5em auto;
      background: #f3f3f3;
      border-radius: 2.25em;
      width: 100%;

      .cta_info {
        padding: 3em;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 35px;
      }
      a {
        width: fit-content;
        color: #ffffff;
        background: black;
        border: 1px solid transparent;
        border-radius: 1em;
        padding: 1em;
      }

      .cta_images {
        position: relative;
        width: 100%;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 120%;
          max-height: 120%;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .cta {
    .cta_wrapper {
      .cta_content {

        .cta_info{
          max-width: 100%;
          text-align: center;
        }
        a{
          margin: 0 auto;
        }
        .cta_images {
          display: none;
        }
      }
    }
  }
}
