@use '../../variables' as *;

.banner {
  min-height: 515px;
  .banner_wrapper {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    padding: 2em 5em;
    min-height: 3em;
    margin: 0 auto;

    .banner_description {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 35px;

      p {
        line-height: 28px;
        letter-spacing: 0.12em;
      }

      a {
        width: fit-content;
        color: #ffffff;
        background: black;
        border: 1px solid transparent;
        border-radius: 1em;
        padding: 1em;
      }
    }
    .banner_images {
    }
  }
}
